body {
  background-image: url(back.png);
  background-position: center;
  background-size: cover;
  background-color: #280CB6;

  color: #fffbff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 100%;
}

h1 {
  font-size: 500%;
  color: #54ADA9;
}
h2{
  font-size: 400%;
  letter-spacing: 10px;
}

.promo {
  padding-top: 10%;
}

.glyphicon-chevron-down {
  font-size: 750%;
}
a, span{
  padding-top: 6%;
  color: #fffbff;
}
a:hover {
  color: #D5D5D5;
}
