ul, h1 {
  font-family: 'Quicksand', sans-serif;
}
ul.breadcrumbs {
  padding: 10px 20px;
  list-style: none;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 20px;
}

ul.breadcrumbs li+li::before{
  padding: 10px;
  color: #ACD2FF;
  content: ">\00a0";
}
ul.breadcrumbs li a{
  color: #D5D1D6;
  text-decoration: none;
}
ul.breadcrumbs li a:hover{
  color: #ACD2FF;
  text-decoration: underline;
}

ul.breadcrumbs li {
  color: #ACD2FF;
}
